

  <div class="card mb-3">
    <div class="card-body d-flex justify-content-between">
      <h4 class= "mt-2" >New Bookmark</h4>
      <%= link_to "My Lists", root_path, class:"btn btn-success m-2"  %>
    </div>
  </div>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie %>
<%= f.button :submit, class: "btn btn-success" %>
<% end %>

